{% assign items = collections.product | tagFilter: _tag %}
{%- for item in items %}
<div class="container-list">
  <img src="/assets/1_alma.png">
  <div>
    <h2>Snood Achille&nbsp; <b>- 25€</b></h2><h3>Enfant. délai 2-3 sem.&nbsp; <u>&gt; Voir la fiche produit</u></h3>
  </div>
  <a href="{{ site.url }}{{ site.baseurl }}{{ item.url | url }}">{{ item.data.title }}</a>
</div>
{% endfor -%}

<style>
.container-list {
  display: inline;
}
</style>

