<ol>
  {% if _tags %}
    {%- for tag in _tags %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}/tags/{{ tag | slug }}">{{ tag }}</a>
    </li>
    {% endfor -%}
  {% else %}
    Error: `_tags` not defined
  {% endif %}
</ol>

